.timer {
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
  position: relative;

  b {
    margin-left: 5px;
  }

  .spinner {
    position: absolute;
    top: -5px;
    left: 760px;
    width: 30px !important;
    height: 30px !important;
  }
}

.stepper {
  margin: 10px 200px 0;
}

.text-bold {
  font-weight: bold;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
